.divProduct {
  padding: 1.5rem;
  margin: 5rem 20rem;
  border: solid 3px;
  border-radius: 20px;
  height: 20rem;
}

@media (max-width: 768px) {
  .divProduct {
    margin: 8rem 8rem;
    height: 5rem;
  }
}
