.navDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 5rem;
  background-color: rgb(147, 152, 172);
}

.navUl {
  padding: 0;
  margin: 0 10rem 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.navUl li {
  margin: 0 2rem 0 2rem;
  transition: all 0.2s;
}

.navUl li:hover {
  color: rgb(225, 226, 231);
  cursor: pointer;
}

.navSpanLogo {
  margin: 0 0 0 10rem;
}

.liCart {
  height: 1rem;
}

@media (max-width: 768px) {
  .navDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0;

    height: 5rem;
    background-color: rgb(147, 152, 172);
  }

  .navSpanLogo {
    margin: 0 0 0 1rem;
  }

  .navUl li {
    margin: 0 1.7rem 0 1.7rem;
    transition: all 0.2s;
  }
}
